


  <%= form_for Post.new, :remote => true do |f| %>
    <div class="form-group">
      <%= f.text_area :content, :class => "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  <% end %>
  <div id="post-list">
<% @posts.each do |post| %>



  <%= render :partial => "post", :locals => { :post => post} %>
</div>
<% end %>

<% if current_user && current_user.is_member_of?(post) %>
  <%= link_to quit_post_path(post), :method => :post, :class => "btn btn-danger" do %>
  <i class="fa fa-heart" aria-hidden="true"></i>
  <% end %>
  <% else %>

  <%= link_to join_post_path(post), :method => :post, :class => "btn btn-primary" do %>
  <i class="fa fa-heart-o" aria-hidden="true"></i>
  <% end %>
  <% end %>
